nbproject
.settings
.classpath
*.class
*.war
*.ear
.buildpath
.idea
.project
*.swp
.gradle
.vagrant
admin/generated
server/boot.rb
server/tmp
server/config/config.yml
server/config/game_data.yml
server/config/game_messages.proto
server/lib/bin
server/java/bin
server/java/build
server/java/lib
server/log
server/tmp
server/pathfinding/build
jruby-1.7.4
server/java/src/main/java/com/game_machine/entity_system/generated/*.java
