%div{:style => 'height:10px'}
%li.nav-header
  Manage
  - if Server.find_running
    = content_tag(:li, link_to('Restart Game Server', '/system/restart_game_server'))
    = content_tag(:li, link_to('Stop Game Server', '/system/stop_game_server'))
  - elsif Server.find_enabled
    = content_tag(:li, link_to('Start Game Server', '/system/start_game_server'))
  = content_tag(:li, link_to('Publish Data Changes', '/system/publish', :data => { :'pjax2' => '' }))
