
<center>
  <h2 id="reload">Server reloading please wait...</h2>
</center>
<script>
function isAlive() {
  $.get("/system/test", function(data) {
    if (data == 'OK') {
      $('#reload').text('Server reloaded' + data);
    } else {
      isAlive();   
    }
  })
  //.done(function() { alert("second success"); })
  .fail(function() { setTimeout(isAlive, 500); })
  //.always(function() { alert("finished"); });
}
isAlive();

</script>
