<div id="input_box" class="input_box">
  <div id="cell_input" class="cell_input"></div>
</div>

<div style="position:absolute;left:10px;top:10px;">
  <table id="rowed3"></table>
  <div id="prowed3"></div>
</div>

<style>
  .cell_input {
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    cursor: text;
    -webkit-user-modify: read-write-plaintext-only;
    white-space: pre-wrap;
  }
  .editnow {
    color: black;
    text-align: left;
    background-color: white;
    max-width: 1742px;
    min-width: 114px;
    min-height: 14px;
    max-height: 347px;
    left: 166px;
    top: 428px;
    right: auto;
  }
  .input_box {
    position: absolute;
    font: normal normal 400 13px arial,sans,sans-serif;
    text-align: left;
    top: -10000px;
    left: -10000px;
    border: 2px #5292F7 solid;
    padding: 0 2px;
    margin: 0;
    z-index: 15;
    resize: none;
    overflow: auto;
    white-space: pre-wrap;
    outline: none;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    word-wrap: break-word;
  }
</style>

<script type="text/javascript">

  var current_td_height;
  var current_td_top;
  var current_td_left;
  var current_td_width;
  
  function findPos(obj) {
    var curleft = curtop = 0;
    if (obj.offsetParent) {
      do {
        curleft += obj.offsetLeft;
        curtop += obj.offsetTop;
      } while (obj = obj.offsetParent);
      return [curleft,curtop];
    }
  }
  function post_data(rowid, cellname, value, iRow, iCol) {
    $('#input_box').css({'left': -10000, 'top': -10000});
    $.ajax({
      type: 'POST',
      url: "/update_data",
      async: true,
      data: {
        data: {value: value, rowid: rowid, cellname: cellname, irow: iRow, icol: iCol}
      },
      success: function(data, textStatus, xhr) {
      },
      error: function(data, textStatus, xhr) {
      },
      dataType: 'json'
    });	  		
  }
  
  function my_input(value, options) {
    return $("<div>"+value+"</div>");
    return $("<div class='input_box'><div style=''>"+value+"</div></div>");
    return $("<div class='input_box'><div class='cell_input' style=''>"+value+"</div></div>");
  }

  function my_value(value) {
    return $('#cell_input').text();
  }
  
  function set_cell_height(rowid, cellname, value, iRow, iCol) {
    console.log(rowid,cellname,iRow,iCol);
    var tr = $("#"+rowid);
    var ch = $(tr).children()[iCol];
    console.log(ch);
    var ch_height = $(ch).height();
    current_td_height = ch_height;
    $(ch).css({'height': ch_height, 'max-height': ch_height});
    var td_pos = $(ch).position();
    current_td_top = td_pos.top;
    current_td_left = td_pos.left;
    current_td_width = $(ch).width();
    console.log(current_td_top,current_td_left,current_td_height);
  }
  
  function my_element_added(el,value) {
    console.log('my_element_added');
    setTimeout(function(){
      $('#input_box').css({'position': 'absolute', 'color': 'black', 'text-align': 'left','background-color': 'white','max-width': '1742px',
        'min-width': current_td_width,'min-height': current_td_height, 'max-height': '347px','right': 'auto', 'top': current_td_top+60, 'left': current_td_left+10})
      $('#cell_input').text(value);
    },50);
  }
   
  function after_save_cell(rowid, cellname, value, iRow, iCol) {
    $('#input_box').css({'left': -10000, 'top': -10000});
  }
  
  var lastsel;
  jQuery("#rowed3").jqGrid({
    url:'/data?q=2',
    datatype: "json",
    colNames:['Inv No','Date', 'Client', 'Amount','Tax','Total','Notes'],
    colModel:[
      {name:'id',index:'id', width:55},
      {name:'invdate',index:'invdate', width:90, editable:true},
      {name:'name',index:'name', width:100,editable:true},
      {name:'amount',index:'amount', width:80, align:"left",editable:true},
      {name:'tax',index:'tax', width:80, align:"left",editable:true},		
      {name:'total',index:'total', width:80,align:"left",editable:true, edittype: 'custom', editoptions: {after_custom_element_added: my_element_added, custom_value: my_value, custom_element:my_input}},		
      {name:'note',index:'note', width:150, sortable:false,editable:true, edittype: 'custom', editoptions: {after_custom_element_added: my_element_added, custom_value: my_value, custom_element:my_input}}		
    ],
    rowNum:5000,
    rowList:[100,200,300],
    pager: '#prowed3',
    sortname: 'id',
    viewrecords: true,
    sortorder: "desc",
    height: "700",
    width: "1600",
    hoverrows: false,
    cellEdit: true,
    cellsubmit: 'clientArray',
    cellurl: '/update_data',
    afterSaveCell: function(rowid, cellname, value, iRow, iCol){post_data(rowid, cellname, value, iRow, iCol)},
    afterRestoreCell: function(rowid, cellname, value, iRow, iCol){after_save_cell(rowid, cellname, value, iRow, iCol)},
    beforeEditCell: function(rowid, cellname, value, iRow, iCol){set_cell_height(rowid, cellname, value, iRow, iCol)},
    //onSelectRow: function(id){
    //  if(id && id!==lastsel){
    //    jQuery('#rowed3').jqGrid('restoreRow',lastsel);
    //    jQuery('#rowed3').jqGrid('editRow',id,true);
    //    lastsel=id;
    //  }
    //},
    //editurl: "/update_data",
    caption: "Using events example"
  });
  jQuery("#rowed3").jqGrid('navGrid',"#prowed3",{edit:false,add:false,del:false});
</script>