.panel.panel-default
  .panel-body
    .row
      .col-lg-6
        .form-group
          %label.col-lg-4
            Cache writes per second
          .col-lg-3
            = f.text_field :cache_writes_per_second, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Cache write interval
          .col-lg-3
            = f.text_field :cache_write_interval, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Data store
          .col-lg-8
            = f.text_field :data_store, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Couchbase servers
          .col-lg-8
            = f.text_field :couchbase_servers, :class => 'form-control'
      .col-lg-6
        About environment
