.panel.panel-default
  .panel-body
    .row
      .col-lg-6
        .form-group
          %label.col-lg-4
            Grid size
          .col-lg-3
            = f.text_field :world_grid_size, :class => 'form-control'
        .form-group
          %label.col-lg-4
            Grid cell size
          .col-lg-3
            = f.text_field :world_grid_cell_size, :class => 'form-control'
      .col-lg-6
        About environment
