.row{:style => 'padding-bottom:15px;'}
  .col-lg-8
    Machines
  .col-lg-4
    = link_to 'Add Machine', new_app_server_path,:class => 'btn btn-primary'

%table.table.table-striped
  %tr
    %th
      Size
    %th
      Name
    %th
      IP Address
    %th
      Status
    %th
  - @app_servers.each do |app_server|
    %tr
      %td Large
      %td= link_to app_server.name, edit_app_server_path(app_server)
      %td 127.0.0.1
      %td Up
      %td
        = link_to "Delete #{app_server.name}",
          app_server_path(app_server), :method => :delete,
          :data => {:confirm => t('.confirm',
          :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
          :class => 'btn btn-mini btn-danger'

