.container-fluid
  .row
    .col-xs-6
      - if @messages == :game
        .h4
          Add, update, or remove messages using the editor.
        %ul
          %li
            If running Game Machine in loop mode, saving this file will restart
            the server with the new message changes
          %li
            If running under windows, a new messages.cs will be generated and
            placed in the Game Machine root folder.  You can set where this file
            is written to by changing protogen_out_dir in config/config.yml
          %li
            If you have a syntax error in the message file you will not see any
            errors.  The system will simply not regenerate new code. The fix
            for this is platform specific, we are working on it.
      - else
        .h4
          This is the combined list of built in plus user modifiable messages.
          This is what the protofile that you can download contains.
  .row
    .col-xs-6
      %div#editor
  .row{:style => 'margin-top:10px;'}
    .col-xs-6
      %form{:action => '/messages/game', :method => 'POST'}
        .form-group
          %input{:id => 'editor_content', :type => 'hidden', :name => 'game_messages', :value=>"#{@content}"}
          -if @messages == :game
            %button{:type=>"submit", :class => "btn btn-primary"}
              Save Messages
%script{:src => 'http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js'}
:javascript
  $(document).ready(function() {
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.setOptions({ maxLines: 500, minLines: 40, autoScrollEditorIntoView: true });
    editor.setValue($('#editor_content').val());
    editor.getSession().setMode("ace/mode/protobuf");
    editor.getSession().on('change', function(e) {
        $('#editor_content').val(editor.getValue());
    });
  });
