
<% if @players.empty? %>
No players found
<% else %>
<form action='/players' method='POST' role='form'>
    <span><input  name='query_string' placeholder='Enter Query' type='text'  size="40"></span>
     <span><button class='btn btn-default' type='submit'>Search</button></span>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th></th>
    </tr>
  </thead>
  <% @players.each do |player| %>
  <tr>
    <td><%= player.id %></td>
    <td>
      <a href="/players/<%= player.id %>/delete">Delete</a>
    </tr>
    <% end %>
  </table>
<% end %>
